.square {
    height:5px;
    width:5px;
    border:1px solid gray;
    display:inline-block;
    margin-right:2px;
}
#red, #orange, #yellow, #green, #blue, #purple, #black {
    height:20px;
    width:20px;
}
#red {background-color:red;}
#orange {background-color:orange;}
#yellow {background-color:yellow;}
#green {background-color:green;}
#blue {background-color:blue;}
#purple {background-color:purple;}
#black {background-color:black;}
#white {background-color:white; 
    border:1px solid black;
     height:19px;
    width:19px;}